<%- include("_header") -%>
<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Game</td>
        <th>Votes</td>
      </tr>
    </thead>
    <tbody>
      <% for (const game of model) { %>
        <tr>
          <td><%= game.game %></td>
          <td><%= game.votes %></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<%- include("_footer") -%>